<?xml version="1.0" encoding="utf-8"?>
<metaId>
  <onTable>
    <metaSystem id="KORTNAVN">
      <link px-lang="no" labelStringFormat="Om statistikken" urlStringFormat="http://www.ssb.no/{0}#om-statistikken-v2" />
      <link px-lang="en" labelStringFormat="About the statistics" urlStringFormat="http://www.ssb.no/en/{0}#om-statistikken-v2" />
    </metaSystem>
  </onTable>
  <onVariable>
    <metaSystem id="urn:ssb:classification:klass:subsets">
      <link px-lang="no" labelStringFormat="Klass uttrekk" urlStringFormat="https://subsets-webview.staging-bip-app.ssb.no/?subsetId={0}" />
      <link px-lang="en" labelStringFormat="Klass subset" urlStringFormat="https://subsets-webview.staging-bip-app.ssb.no/?subsetId={0}&amp;language=en" />
    </metaSystem>
    <metaSystem id="urn:ssb:classification:klass">
      <link px-lang="no" labelStringFormat="Standard klassifikasjon" urlStringFormat="https://www.ssb.no/klass/klassifikasjoner/{0}" target="http://data.ssb.no/api/klass/v1/classifications/{0}/?language=nb" />
      <link px-lang="en" labelStringFormat="Standard classification" urlStringFormat="https://www.ssb.no/en/klass/klassifikasjoner/{0}" target="http://data.ssb.no/api/klass/v1/classifications/{0}/?language=en" />
    </metaSystem>
    <metaSystem id="urn:ssb:conceptvariable:vardok">
      <link px-lang="no" labelStringFormat="Definisjon" urlStringFormat="https://www.ssb.no/a/metadata/conceptvariable/vardok/{0}/nb" />
      <link px-lang="en" labelStringFormat="Definition" urlStringFormat="https://www.ssb.no/a/metadata/conceptvariable/vardok/{0}/en" />
    </metaSystem>
  </onVariable>
  <onValue>
    <metaSystem id="urn:ssb:conceptvariable:vardok">
      <link px-lang="no" labelStringFormat="Definisjon" urlStringFormat="https://www.ssb.no/a/metadata/conceptvariable/vardok/{0}/nb" />
      <link px-lang="en" labelStringFormat="Definition" urlStringFormat="https://www.ssb.no/a/metadata/conceptvariable/vardok/{0}/en" />
    </metaSystem>
    <metaSystem id="urn:ssb:contextvariable:common">
      <link px-lang="no" labelStringFormat="Definisjon (Kostra)" urlStringFormat="/statbank/kompis/kompis.aspx?id={0}&amp;ver={1}&amp;val={2}" />
      <link px-lang="en" labelStringFormat="Definition (Kostra)" urlStringFormat="/en/statbank/kompis/kompis.aspx?id={0}&amp;ver={1}&amp;val={2}" />
    </metaSystem>
  </onValue>
</metaId>