<?xml version="1.0" encoding="utf-8"?>
<settings>
  <homePages>
  </homePages>
  <searchIndex>
    <status>Indexed</status>
    <indexUpdated>20210601 08:03</indexUpdated>
    <updateMethod>
	PXWeb.SSBIndexer.SSBUpdateIndex.SSBUpdateIndex,PXWeb.SSBIndexer
    </updateMethod>
  </searchIndex>
  <protection>
    <isProtected>False</isProtected>
    <authorizationMethod>
    </authorizationMethod>
  </protection>
  <metadata>
    <useMetadata>True</useMetadata>
    <metaSystemConfigFile>
    </metaSystemConfigFile>
    <metaLinkMethod>PCAxis.Metadata.SSB.MetaLinkManager, PCAxis.Metadata.SSB</metaLinkMethod>
  </metadata>
</settings>