@include file-header("custom/_ssbTableList.scss");
/* Add your overrides of the default styles in this style sheet */
/*HEI*/
#pxwebcontent .menu-tablelist {

	&.grid-container {
		margin-top: 0px;
		display: grid;
		grid-template-columns: 80px auto 160px;
		border-bottom: 0px;

		& .grid-row-1-3 {
			grid-column-start: 1;
			grid-column-end: span 3;
		}


		& .accordion-cell.closed_level_1 {
			display: none;
		}

		& .accordion-cell.closed_level_2 {
			display: none;
		}
		//Dont think we can have 3 levels, but
		& .accordion-cell.closed_level_3 {
			display: none;
		}

		&.accordion-cell.closed_level_1 {
			display: none;
		}

		&.accordion-cell.closed_level_2 {
			display: none;
		}
		//Dont think we can have 3 levels, but
		&.accordion-cell.closed_level_3 {
			display: none;
		}

		& .table-hover {
		}
	}
}

@media screen and (max-width: $tablet-screen) {
#pxwebcontent .menu-tablelist.grid-container{
	grid-template-columns: 80px auto 100px; 
  }
}


  #pxwebcontent .pxweb-cell-accordion-start {
    
    border-top: 1px solid #c3dcdc;
    height: 2px;
    padding-bottom: 8px;
   }
	
  #pxwebcontent .pxweb-cell-accordion-end {
    border-bottom: 1px solid #c3dcdc;
    height: 2px;
    padding-top: 8px;
	margin-bottom: -1px;
    }
	


#pxwebcontent .menu-tablelist  {

  width: auto;

  & .col1 {
    padding: 5px 0px 6px 0px;
  }
  
  & .col2 {
    padding: 5px 28px 6px 0px;
  }
  
  & .col3 {
    padding: 5px 0px 6px 0px;
  }
}


#pxwebcontent .menu-tablelist {
  
	background-color: white;
	& .colhead {
	 font-family: 'Open Sans';
	 font-weight: 600; 
	 font-size:13px;
	}
	
	& td {
	@include font-normal-text;
	/*font-weight:normal;*/
	}
	
}

#pxwebcontent .pxweb-table-end {
   margin-bottom: 5px;
}

#pxwebcontent .menu-tablelist.grid-container .pxweb-link{
  border-bottom: 0;
}

#pxwebcontent .menu-tablelist h2, #pxwebcontent .menu-tablelist .accordion-header .header-text{
  @include roboto-condenced;
  font-size: 18px;
  margin-top: 10px;
}

#pxwebcontent .menu-tablelist .accordion-header{
  /*width stop focus-frame from getting cut. Check if needed after new CMS is in place*/
  width: 99%
}


