@include file-header("_breadcrumb.scss TODO");

#pxwebcontent .pxweb-link.breadcrumb_text {
    @include just-open-sans;
    font-size: 14px;
}

#pxwebcontent .breadcrumb_text_nolink {
    color: $breadcrumb-text-nolink;
    @include just-open-sans;
    font-size: 14px;
    display: inline-block;
}

#pxwebcontent .breadcrumb_text_nolink:hover {
    color: $breadcrumb-text-nolink;
    text-decoration: none;
    @include just-open-sans;
    font-size: 14px;
}

#pxwebcontent .breadcrumb_sep {
    color: $breadcrumb-text;
    @include just-open-sans;
    font-size: 14px;
}

#pxwebcontent .breadcrumb_homebutton {
    width: 20px;
    height: 20px;
    background-image: get-icon( 'home', $breadcrumb-text);
    background-repeat: no-repeat;
    vertical-align: middle;
    outline: none;
}

#pxwebcontent #breadcrumb {
    border-top: 3px solid $breadcrumb-text;
    background: $breadcrumb-background;
    text-transform: none;
    padding: 5px 15px 20px;
    min-height: 30px;
}

