@include file-header("_menu.scss");

#pxwebcontent .menu_databasename {
  @include open-sans;
  font-size: 200%;
  line-height: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
  display: block;
}

#pxwebcontent .menuTopLeftContent {
  float: left;
}

#pxwebcontent .menuTopRightContent {
  float: right;
  vertical-align: top;
}

#pxwebcontent .menuExplanation {
  @include OpenSansRegular_MenuExplanation;
}

#pxwebcontent .menuExplanationHeader {
  @include OpenSansRegular_MenuExplanation;
  font-weight: bold;
}

#pxwebcontent .menuExplanationFrame {
 padding-top: 10px;
 padding-left: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
 border-style: solid;
 border-width: 2px;
 border-color: $pxweb-green-4;
 margin-bottom: 4px;
}