#pxwebcontent h1 {
  
  font-size: 2em;
}

#pxwebcontent #place-holder-title h1 {
  font-family: Roboto Condensed, sans-serif;
  font-size: 280px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
  display: block;
  color: #333;
}


#pxwebcontent .search_panel {
  border: solid 3px #00824d;
  background-color: #fff;
  padding: 3px 10px 10px 10px;
}

#pxwebcontent #TableOfContent {
  padding-top: 16px;
}