name: MSBuild

on: push

permissions:
  contents: read
  
jobs:
  build:

    runs-on: windows-2022

    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:

    - uses: actions/checkout@v5

    - uses: microsoft/setup-msbuild@v2.0.0

    - uses: NuGet/setup-nuget@v2.0.1

    - name: Restore NuGet packages
      run: nuget restore PCAxis.PX-Web.sln

    - name: Build the application
      run: msbuild /p:Configuration=$env:Configuration  PCAxis.PX-Web.sln
      env:
        Configuration: ${{ matrix.configuration }}
        
    #- name: Create a file
    #  run: echo "I won't live long" > my_file.txt

    #- name: Upload Artifact
    #  uses: actions/upload-artifact@v3
    #  with:
    #    name: my-own-artifact
    #    path: my_file.txt
    #    retention-days: 5
